.component[data-v-192018fa] {
  max-width: 700px;
  width: 100%;
}
.title_price[data-v-192018fa] {
  flex-wrap: wrap;
  align-items: center;
}
.title_price div[data-v-192018fa] {
  display: flex;
  margin: 10px 0;
}
.title_price .title[data-v-192018fa] {
  min-width: 200px;
  padding-right: 15px;
  flex: 1;
}